html, body {
    min-height: 100%;
    font-size: 16px;
    line-height: 22px;
    font-family: "Open Sans";
}

a, button {
    outline: none !important;
}

body {
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}

.color-overlay {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: -10;
    top: 0;
    left: 0;
    position: fixed;
}

header {
    text-align: center;
    padding-top: 30px;
}

header h1 {
    font-size: 38px;
    line-height: 40px;
    font-weight: 700;
}

.form-horizontal input {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: forestgreen;
}

.form-horizontal .control-label.text-left {
    text-align: left;
}

.deviate-top {
    margin-top: 10px;
}

.results label.control-label {
    text-align: right;
}

@media (max-width: 768px) {
    header {
        padding-top: 20px;
    }
    header h1 {
        font-size: 34px;
    }
    .form-horizontal .control-label.text-left {
        line-height: 35px;
    }
    .results label.control-label {
        text-align: left;
    }
}

@media (max-width: 468px) {
    label.control-label {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
    }
}